@model UniversityManagementSystemNRE.Models.Course

<div id="CourseInfo">
    <div class="editor-label">
        @Html.LabelFor(Model => Model.CourseName)
        @Html.DisplayFor(Model => Model.CourseName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(Model => Model.Credit)
        @Html.DisplayFor(Model => Model.Credit)
    </div>
</div>