@model UniversityManagementSystemNRE.Models.Teacher

<div id="TeacherInfo">
    <div class="editor-label">
        @Html.LabelFor(Model => Model.CreditsToBeTaken)
        @Html.DisplayFor(Model => Model.CreditsToBeTaken)
    </div>
    <div class="editor-label">
        @Html.LabelFor(Model => Model.CreditsRemaining)
        @Html.DisplayFor(Model => Model.CreditsRemaining)
    </div>
</div>