@{
    ViewBag.Title = "AssignConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignConfirmed</h2>

<div><h1>@ViewBag.Message</h1></div>

<p>
    @Html.ActionLink("Assaign Course", "Create")
</p>