@model UniversityManagementSystemNRE.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Department</legend>

    <div class="display-label">DeptCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeptCode)
    </div>

    <div class="display-label">DeptName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeptName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DepartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
