@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        University Management System 
    </h1>
    <h2>
        Developed by NullReferance Exception....
    </h2>
</div>
<div class="jumbotron">
</div>
<div class="jumbotron">
    

</div>