
<div id="StudentInfo">
    <div class="editor-label">
        <b>Name : @ViewBag.Name</b>
    </div>
    <div class="editor-label">
        <b>Email : @ViewBag.Email</b>
    </div>
    <div class="editor-label">
        <b>Dept : @ViewBag.Dept</b>
    </div>
</div>